<div class="modal-header">
  <h4 class="modal-title lbl">What's new in v{{ memory.AppVersion }}</h4>
  <button
    type="button"
    class="btn-close btn-close-white"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>
<div class="modal-body">
  <p>
    Open TV is in crucial need of your help. Consider donating any amount (even 1$, it makes a big
    difference!) to support future development.
    <a href="https://github.com/Fredolx/open-tv/discussions/69" target="_blank"
      >Click here for more information.</a
    >
  </p>
  <br />
  <h3>Changes:</h3>
  <ul>
    <li>
      Added timeshift/replay/catchback for live channels (xtream, in the epg for each channel)
    </li>
    <li>
      VOD downloads are now cancellable, have a new download manager UI and better progress
      reporting
    </li>
    <li>Added catchback downloading</li>
    <li>Updated all dependencies</li>
    <li>Fixed a bug that was breaking custom channel editing</li>
  </ul>
</div>
