<div class="modal-header">
  <h4 class="modal-title lbl">What's new in v{{ memory.AppVersion }}</h4>
</div>
<div class="modal-body">
  <p>
    Fred TV is in crucial need of your help. Consider donating any amount (even 1$, it makes a big
    difference!) to support future development.
    <a href="https://github.com/Fredolx/open-tv/discussions/69" target="_blank">Click here for more information.</a>
  </p>
  <br />
  <p>
    If you'd like to follow updates about Fred TV and related projects, I made a bluesky!
    <a href="https://bsky.app/profile/fredoldev.bsky.social" target="_blank">You can follow me here.</a>
  </p>
  <br />
  <p>
    Stalker (mac address login) users! I haven't forgotten about you and an upcoming app is in the
    works. It's mostly done and you can get updates about it on my BlueSky.
  </p>
  <br />
  <p>To enjoy some of the features listed here, you will need to refresh your sources.</p>
  <br />
  <h3>Changes this version</h3>
  <ul>
    <li>
      Tray icon support removed for Linux due to bugs/crashes and incompatibility with DEs. It will
      be re-added in the future when support from the framework is more stable.
    </li>
    <li>
      Added a per-source limit of playing streams so you don't need to manually close open streams
      when switching channels
    </li>
    <li>Fixed a bug where scrolling too many categories would cause an error</li>
    <li>Added user-agent configuration for fetching m3u links</li>
    <li>Renamed app to Fred TV (sorry!)</li>
    <li>Update all libs</li>
  </ul>
  <h3>Upcoming improvements</h3>
  <ul>
    <li>Download improvements and bug fixes</li>
    <li>Recording scheduling</li>
    <li>Hide categories and channels</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="openDonate()">
    <span>Donate</span>
  </button>
  <button class="btn btn-secondary ml-2" (click)="close()">
    <span>Don't show again</span>
  </button>
</div>