.channel {
  border-radius: 0.25rem;
  height: 4.5em;
  width: 100%;
  background: #343a40;
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
  transition: width 0.5s ease-out;
}

.channel-title-container {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  overflow: hidden;
}

.channel-title {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel-source {
  font-size: 0.75rem;
  color: #adb5bd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-container {
  height: 100%;
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel:hover {
  background: #007bff;
  cursor: pointer;
}

.faded {
  opacity: 0.5;
}

.channel:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0.7);
}

.playing {
  background: #0048ff;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.playing:hover {
  background: red;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.disabled {
  opacity: 25%;
}

.archive-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.favorite-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #ffc107;
}