<div
  id="tile-{{ id }}"
  placement="top"
  tabindex="0"
  (keyup.enter)="click()"
  [ngClass]="{ playing: starting }"
  [ngbTooltip]="channel?.name"
  triggers="hover"
  (click)="click()"
  class="channel d-inline-flex p-2 align-items-center"
  (contextmenu)="onRightClick($event)"
>
  <div style="height: 100%; min-width: 50px">
    <img
      (error)="showImage = false"
      class="channel-image"
      *ngIf="channel?.image && showImage"
      src="{{ channel?.image }}"
    />
  </div>
  <div class="channel-title">{{ channel?.name }}</div>
  <svg
    *ngIf="channel?.tv_archive === true"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="ms-auto archive-icon"
  >
    <title>archive-clock</title>
    <path
      d="M20 6H2V2H20V6M16.5 12H15V17L18.61 19.16L19.36 17.94L16.5 16.25V12M23 16C23 19.87 19.87 23 16 23C13.62 23 11.53 21.81 10.26 20H3V7H19V9.68C21.36 10.81 23 13.21 23 16M8 12H10.26C10.83 11.19 11.56 10.5 12.41 10H8.5C8.22 10 8 10.22 8 10.5V12M21 16C21 13.24 18.76 11 16 11S11 13.24 11 16 13.24 21 16 21 21 18.76 21 16Z"
    />
  </svg>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button
      [hidden]="
        channel?.media_type == mediaTypeEnum.group || channel?.media_type == mediaTypeEnum.season
      "
      mat-menu-item
      (click)="favorite()"
    >
      <ng-container *ngIf="alreadyExistsInFav">Unfavorite</ng-container>
      <ng-container *ngIf="!alreadyExistsInFav">Favorite</ng-container>
    </button>
    <button [hidden]="!isLivestream()" mat-menu-item (click)="record()">Record</button>
    <button [hidden]="!isMovie() || downloading" mat-menu-item (click)="downloadVod()">
      Download
    </button>
    <button [hidden]="!isMovie() || !downloading" mat-menu-item (click)="cancelDownload()">
      Cancel download
    </button>
    <button [hidden]="!showEPG()" mat-menu-item (click)="showEPGModal()">EPG</button>
    <button [hidden]="!isCustom()" mat-menu-item (click)="edit()">Edit</button>
    <button [hidden]="!isCustom()" mat-menu-item (click)="share()">Share</button>
    <button [hidden]="!isLivestream()" mat-menu-item (click)="openRestreamModal()">
      Re-stream
    </button>
    <button [hidden]="!isCustom()" mat-menu-item (click)="delete()">Delete</button>
  </ng-template>
</mat-menu>
