.channel {
    border-radius: 0.25rem;
    background-color: #343a40;
    height: 3em;
    width: 100%;
    overflow-y: hidden;
}

.channel-title {
    margin-left: 10px; 
    margin-right: 10px;
}

.channel-image {
    width: 75px; 
    height: auto; 
    object-fit: fill
}

.channel:hover {
    background: #007bff;
    cursor: pointer;
}
