.channel {
    border-radius: 0.25rem;
    background-color: #343a40;
    height: 3em;
    width: 100%;
    overflow-y: hidden;
}

.channel-title {
    margin-left: 10px; 
    margin-right: 10px;
}

.channel-image {
    width: 75px; 
    height: auto; 
    object-fit: fill
}

.channel:hover {
    background: #007bff;
    cursor: pointer;
}

.playing {
    background: darkblue;
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.playing:hover {
    background: darkblue;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
