.channel {
    border-radius: 0.25rem;
    background-color: #343a40;
    height: 3em;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
  }
  
  .channel-title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .channel-image {
    max-width: 50px;
    max-height: 2em;
  }
  
  .channel:hover {
    background: #007bff;
    cursor: pointer;
  }
  
  .disabled {
    opacity: 25%;
  }