<svg
  class="sort-icon"
  (click)="click($event)"
  fill="black"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
>
  <path d="M18 21L14 17H17V7H14L18 3L22 7H19V17H22M2 19V17H12V19M2 13V11H9V13M2 7V5H6V7H2Z" />
</svg>
<div
  style="visibility: hidden; position: fixed"
  [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <ng-container *ngFor="let sortType of sortTypes">
      <app-sort-item [sortType]="sortType"></app-sort-item>
    </ng-container>
  </ng-template>
</mat-menu>
