<div class="source">
    <h4>{{source?.name}}</h4>
    <div class="row align-items-baseline mt-3">
        <div class="col-2">Type:</div>
        <div class="col">
            {{get_source_type_name()}}
        </div>
    </div>
    <div class="row align-items-baseline mt-2">
        <div class="col-2">Url:</div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-6 col-4 wrap-text selectable">
            {{source?.url}}
        </div>
    </div>
    <div class="row align-items-baseline mt-2" *ngIf="source?.source_type == 2">
        <div class="col-4 col-xs-3 col-xl-2 col-lg-2 col-md-2">Username:</div>
        <div class="col">
            <div class="field" *ngIf="!showUsername">******</div>
            <div class="field selectable" *ngIf="showUsername">{{source?.username}}</div>
            <span (click)="showUsername = !showUsername">
                <svg *ngIf="!showUsername" class="eye" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z" />
                </svg>
                <svg fill="currentColor" *ngIf="showUsername" class="eye" viewBox="0 0 24 24">
                    <path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" />
                </svg>
            </span>
        </div>
    </div>
    <div class="row align-items-baseline mt-2" *ngIf="source?.source_type == 2">
        <div class="col-4 col-xs-3 col-xl-2 col-lg-2 col-md-2">Password:</div>
        <div class="col">
            <div class="field" *ngIf="!showPassword">******</div>
            <div class="field selectable" *ngIf="showPassword">{{source?.password}}</div>
            <span (click)="showPassword = !showPassword">
                <svg *ngIf="!showPassword" class="eye" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z" />
                </svg>
                <svg fill="currentColor" *ngIf="showPassword" class="eye" viewBox="0 0 24 24">
                    <path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" />
                </svg>
            </span>
        </div>
    </div>
    <div class="mt-3">
        <button [disabled]="memory.Loading" (click)="refresh()" class="btn btn-primary d-inline-flex align-items-center">
            <span>Refresh</span> 
            <svg class="refresh ms-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
            </svg>
        </button>
        <button [disabled]="memory.Loading" (click)="delete()" class="btn btn-danger ms-3 d-inline-flex align-items-center">Delete 
            <svg
               class="trash ms-1"
               viewBox="0 0 24 24"
               fill="currentColor">
              <path
                 d="M 9,4 H 4 v 2 h 1 v 13 c 0,1.105 0.895,2 2,2 h 10 c 1.105,0 2,-0.895 2,-2 V 6 h 1 V 4 H 15 M 7,6 H 17 V 19 H 7 V 6 m 2,2 v 9 h 2 V 8 H 9 m 4,0 v 9 h 2 V 8 Z"
                 id="path1" />
              <path 
                 class="trash-lid"
                 id="rect2"
                 d="m 7.4391144,0.7970474 h 9.1808116 v 2.538746 H 7.4391144 Z" />
            </svg>
        </button>
    </div>
    <svg (click)="toggleEnabled()" class="check" *ngIf="source?.enabled" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z" />
    </svg>
    <svg (click)="toggleEnabled()" *ngIf="!source?.enabled" class="check" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z" />
    </svg>
</div>