.settings {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2rem;
    cursor: pointer;
}

.reserve-settings-space {
    margin-top: 2rem;
}

@media screen and (max-width: 627px) {
    .reserve-settings-space {
        margin-top: 5rem;
    }
}

.filterBox {
    border-radius: 10px;
    padding: 10px;
    background-color: #343a40;
    display: block;
    width: fit-content;
}