.arrow {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 2.5em;
    height: 2.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(125%);
}

button .anim-svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

button:hover .anim-svg {
    transform: scale(125%);
}

button .pen {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

button:hover .pen {
    transform: scale(125%);
}