.arrow {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 2.5em;
    height: 2.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(125%);
}

button .anim-svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

button:hover .anim-svg {
    transform: scale(125%);
}

button .pen {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

button:hover .pen {
    transform: scale(125%);
}

.nuke-btn {
    position: absolute;
    right: 2%;
    bottom: 2%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

button .nuke {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

button:hover .nuke {
    transform: scale(125%);
}