<div class="arrow mdi mdi-arrow-left-circle" (click)="goBack()"></div>
<div class="container px-5">
    <h2 class="mt-4 mb-4 text-center">Settings</h2>
    <div class="row align-items-center">
        <div class="col-4">
            <label>Recording path</label>
        </div>
        <div class="col">
            <div class="d-flex align-items-center">
                <span *ngIf="!memory.Settings.recordingPath" id="default-path">~/Home/Videos</span>
                <span *ngIf="memory.Settings.recordingPath">{{memory.Settings.recordingPath}}</span>
                <button (click)="selectFolder()" class="btn btn-primary btn-sm ms-4">
                    Change <span class="mdi mdi-folder-open ms-2"></span>
                </button>
            </div>        
        </div>
    </div>

    <div class="row mt-3 align-items-center">
        <div class="col-4">
            <span [ngbTooltip]="'Depending on your provider/internet connection, using no caching would give you a lower latency and a more stable experience'">Use stream caching</span>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input [(ngModel)]="memory.Settings!.useStreamCaching" (ngModelChange)="updateSettings()" class="form-check-input" type="checkbox">
            </div>
        </div>

    </div>

    <h2 class="mt-4 mb-4 text-center">Actions</h2>
    <div class="d-flex">
        <span [disableTooltip]="canRefresh()" [ngbTooltip]="'This option is only available if you use a M3U Url or Xtream'">
            <button [disabled]="loading || !canRefresh()" (click)="refresh()" class="btn btn-primary">Refresh
                channels</button>
        </span>

        <button [disabled]="loading" (click)="deleteCache()" class="btn btn-danger ms-3">Delete channels</button>
    </div>

</div>

<div class="author">
    <a href="https://github.com/sponsors/Fredolx" target="_blank">Made by Frédéric Lachapelle ❤️</a>
</div>
