<div class="arrow mdi mdi-arrow-left-circle" (click)="goBack()"></div>
<div class="container px-5">
    <h2 class="mt-4 mb-4 text-center">Settings</h2>
    <div class="row align-items-center">
        <div class="col-3">
            <label>Recording Path</label>
        </div>
        <div class="col">
            <span *ngIf="!memory.Settings.recordingPath" id="default-path">~/Home/Videos</span>
            <span *ngIf="memory.Settings.recordingPath">{{memory.Settings.recordingPath}}</span>
            <button (click)="selectFolder()" class="btn btn-primary btn-sm ms-4">
            Change <span class="mdi mdi-folder-open ms-2"></span>
            </button>
        </div>
    </div>

    <h2 class="mt-4 mb-4 text-center">Actions</h2>
    <div class="flex">
        <button [disabled]="loading" *ngIf="this.memory.Url" (click)="refresh()" class="btn btn-primary">Refresh
            Channels</button>
        <button [disabled]="loading" (click)="deleteCache()" class="btn btn-danger ms-3">Delete channels cache</button>
    </div>

</div>

<div class="author">
    Made by Frédéric Lachapelle
</div>