<div class="modal-header">
    <h4 class="modal-title lbl">Error</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close('Cross click')"></button>
</div>
<div class="modal-body">
    <p class="lbl">
        The following error has occured, <a target="_blank" href="https://github.com/Fredolx/open-tv/issues">you may report it here</a>
    </p>
    <p>
        You may also find detailed logs of what could have caused the errors in $XDG_CACHE_HOME. That corresponds to:
    </p>
    <ul>
        <li>Windows: <span class="selectable">%localappdata%\fredol\open-tv\cache\logs</span></li>
        <li>Linux: <span class="selectable">~/.cache/open-tv/logs</span> or <span class="selectable">~/.var/app/dev.fredol.open-tv/cache/open-tv/logs</span></li>
        <li>MacOS: <span class="selectable">~/Library/Caches/dev.fredol.open-tv/logs</span></li>
    </ul>
    <p>Please attach those logs (if they exist) and the error below to your bug request. Thank you!</p>
    <p>If you encounter weird/persistent errors, please try using the "Delete everything" button in settings or the small nuke button at the bottom right of the screen where present</p>
    <textarea autocomplete="false" spellchek="false" readonly class="error-area">
        {{error}}
    </textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" (click)="copy()">Copy</button>
    <button class="btn btn-danger ms-1" (click)="activeModal.close('close')">Close</button>
</div>