.epg-item {
  border-radius: 0.25rem;
  background-color: #343a40;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.thin-line {
  height: 1px;
  background-color: white;
  width: 100%;
  margin: 0;
}

.bell {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
}

.timeshift {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
}

.loading {
  opacity: 20%;
  cursor: default;
}

.live {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: red;
  animation: pulsate 1.5s infinite ease-in-out;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
