.epg-item {
  border-radius: 0.25rem;
  background-color: #343a40;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.thin-line {
  height: 1px;
  background-color: white;
  width: 100%;
  margin: 0;
}

.bell {
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
}
