@import "./assets/css/bootstrap.min.css";
@import "ngx-toastr/toastr";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./assets/css/roboto.css";

body {
  background-color: #202124;
  color: white;
}

.help-modal__container {
  .help-modal {
    background-color: #202124 !important;

    .item {
      background-color: #202124 !important;

      .key {
        background-color: #202124 !important;
      }

      .description {
        color: white !important;
      }
    }
  }
}

.modal-content {
  border-radius: 22px !important;
  background-color: #292b2c;
}

.selectable {
  user-select: auto;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.bs-col-padding {
  padding-left: 1rem !important;
}

html,
body {
  height: fit-content;
  user-select: none;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
