[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec=open_tv
Icon={{icon}}
Keywords=open;tv;opentv;
Name={{name}}
StartupWMClass=open_tv
Terminal=false
Type=Application
