.settings {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2rem;
    cursor: pointer;
}

.reserve-settings-space {
    margin-top: 2rem;
}

@media screen and (max-width: 627px) {
    .reserve-settings-space {
        margin-top: 5rem;
    }
}

.filterBox {
    border-radius: 10px;
    padding: 10px;
    background-color: #343a40;
    display: block;
    width: fit-content;
}

.channels-anim {
    animation: slideFadeIn 500ms ease-out forwards;
}

@keyframes slideFadeIn {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-check {
    margin-bottom: 0 !important;
}

.clickable {
    cursor: pointer;
}