name: Build and Upload

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [20.x]
        os: [ubuntu-22.04, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-workspaces: "src-tauri -> target"

      - name: Download mpv
        if: matrix.os == 'windows-latest'
        shell: powershell
        run: |
          $nightlyPage = "https://nightly.link/mpv-player/mpv/workflows/build/master"
          $response = Invoke-WebRequest -Uri $nightlyPage -UseBasicParsing
          $latestUrl = $response.Links.Href | Where-Object { $_ -match "x86_64-pc-windows-msvc\.zip$" } | Select-Object -First 1

          $retryCount = 3
          $retryDelay = 5

          for ($i = 1; $i -le $retryCount; $i++) {
              try {
                  Invoke-WebRequest -UserAgent "Wget" -Uri $latestUrl -OutFile .\mpv.zip
                  break
              }
              catch {
                  Start-Sleep -Seconds $retryDelay
              }
          }

          New-Item -Path 'C:\open-tv-deps' -ItemType Directory -Force
          7z e .\mpv.zip -oC:\open-tv-deps mpv.exe vulkan-1.dll -y

      - name: Download ffmpeg
        if: matrix.os == 'windows-latest'
        shell: powershell
        run: |
          $retryCount = 3
          $retryDelay = 5
          for ($i = 1; $i -le $retryCount; $i++) {
              try {
                  Invoke-WebRequest -UserAgent "Wget" -Uri "https://github.com/BtbN/FFmpeg-Builds/releases/latest/download/ffmpeg-master-latest-win64-gpl.zip" -OutFile .\ffmpeg.zip
                  break
              }
              catch {
                  Write-Host "Error occurred: $_. Retrying in $retryDelay seconds..."
                  Start-Sleep -Seconds $retryDelay
              }
          }
          7z e .\ffmpeg.zip -oC:\open-tv-deps ffmpeg-master-latest-win64-gpl/bin/ffmpeg.exe

      - name: Download yt-dlp
        if: matrix.os == 'windows-latest'
        shell: powershell
        run: |
          $retryCount = 3
          $retryDelay = 5
          for ($i = 1; $i -le $retryCount; $i++) {
              try {
                  Invoke-WebRequest -UserAgent "Wget" -Uri "https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp.exe" -OutFile yt-dlp.exe
                  break
              }
              catch {
                  Write-Host "Error occurred: $_. Retrying in $retryDelay seconds..."
                  Start-Sleep -Seconds $retryDelay
              }
          }
          Move-Item -Path yt-dlp.exe -Destination C:\open-tv-deps

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install deps linux
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            libgtk-3-dev

      - name: Install deps project
        run: |
          pnpm install

      - name: Build
        if: startsWith(matrix.os, 'macos-')
        run: |
          CI=true pnpm run tauri build

      - name: Build
        if: matrix.os == 'windows-latest'
        run: |
          pnpm run tauri build

      - name: Build
        if: matrix.os == 'ubuntu-22.04'
        run: |
          pnpm run tauri build -- --bundles deb,rpm

      - name: Upload MSI
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: open-tv-windows
          path: src-tauri/target/release/bundle/msi/*.msi
          retention-days: 60

      - name: Upload DEB
        if: matrix.os == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: open-tv-debian
          path: src-tauri/target/release/bundle/deb/*.deb
          retention-days: 60

      - name: Upload RPM
        if: matrix.os == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: open-tv-redhat
          path: src-tauri/target/release/bundle/rpm/*.rpm
          retention-days: 60

      - name: Upload DMG ARM64
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v4
        with:
          name: open-tv-mac-arm64
          path: src-tauri/target/release/bundle/dmg/*.dmg
          retention-days: 60

      - name: Upload DMG AMD64
        if: matrix.os == 'macos-13'
        uses: actions/upload-artifact@v4
        with:
          name: open-tv-mac-AMD64
          path: src-tauri/target/release/bundle/dmg/*.dmg
          retention-days: 60

      - name: Publish to Release
        if: (github.event_name == 'release' || github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/'))
        uses: softprops/action-gh-release@v1
        with:
          files: |
            src-tauri/target/release/bundle/msi/*.msi
            src-tauri/target/release/bundle/nsis/*.exe
            src-tauri/target/release/bundle/deb/*.deb
            src-tauri/target/release/bundle/rpm/*.rpm
            src-tauri/target/release/bundle/dmg/*.dmg
            src-tauri/target/release/bundle/appimage/*.AppImage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
